.card-education {
    display: flex;
    gap: 6px;   
    flex-direction: column;
}

.container-education {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.container-education h3 {
    font-weight: 500;
    color: #111;
}
.certification{
    font-weight: 700;
    color: #111;
    margin: 10px 0;
}
.container-education h4 {
    font-weight: 400;
    color: #222;
}
time {
    font-size:  0.85rem;
    color: #555;
}
