ul {
    display: flex;
    gap: 32px;   
    flex-direction: column;
}

article {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

article h3 {
    font-weight: 500;
    color: #111;
}
article h4 {
    font-weight: 400;
    color: #222;
}
time {
    font-size:  0.85rem;
    color: #555;
}
