main{
    padding: 1rem;
    margin: auto;
    width: 100%;
}

@media( min-width: 450px){
    main{
        padding: 4rem;
    }
}
@media print {
    ninja-keys{
        display: none !important;
    }
}